---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro';
import Object from '../components/Object.astro'
---

<Layout title="Fan Tasia.">
	<Nav />
	<div class="flex justify-between gap-10 max-w-2xl min-w-sm m-auto">
		<Card/>
		<Object/>
	</div>
</Layout>

