---

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro';
import Object from '../components/Object.astro'
---

<Layout title="Fan Tasia.">
	<div class="container">
		<div>logo</div>
		<Nav />
		<div><i class="fa-solid fa-bars"></i></div>
	</div>
	<div class="container">
		<Card />
		<Object />
	</div>
</Layout>

<style>
	.container{
		display: flex;
		justify-content: space-around;
		gap: 10px;
	}
</style>

