<div class=" px-3 flex items-center gap-1">
	<div class="w-[300px] flex flex-col gap-2">
		<h1 id="title" class="text-slate-50 text-5xl font-bold text-nowrap">FANTA UVA</h1>
		<p id="description" class="text-slate-800 text-sm">Vuelve más divertidos tus momentos con el intenso y frutal sabor de Fanta Naranja.</p>
		
		<div class="flex flex-col gap-2">
			<button class="bg-slate-50 p-3 rounded-md font-bold text-slate-800">PIDE TU FANTA</button>
			<div class="flex gap-3 items-center text-slate-900">
				<span class="text-sm text-stone-900">Informacion Nutricional</span> 
				<i class="fa-solid fa-caret-down"></i>
			</div>
		</div>

	</div>
</div>

