<nav class="nav">
    <ul>
        <li>Marcas</li>
        <li>Descubre</li>
        <li>Impacto</li>
        <li>Comprar</li>
    </ul>
</nav>

<style scoped>
    .nav{
        background-color: transparent;
    }

	.nav ul{
		display: flex;
		gap: 20px;
	}

	.nav ul li{
		list-style: none;
	}
    
    
</style>