<div class="container-object">
    <img class="object" width="100px" src="../src/image/fanta.png" alt="fanta soda">
    <i class="icon-right fa-solid fa-chevron-right"></i>
</div>

<style>
    .container-object{
        position: relative;
        /* border: 1px solid red; */
    }

    .object{
        rotate: 15deg;
        position: relative;
        left: -2rem;
        filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.4));
    }

    .icon-right{
        position: absolute;
        top: 45%;
        font-size: 2.5rem;
        color: #ffff;
        right: -10px;
        cursor: pointer;
    }
</style>